@import "./../../../../../assets/sass/instances";
.container_login {
    @extend %flex_1;
    @include whs(100%);
    .login {
        @include wh(648px, 456px);
        @include border-radius(22px);
        @extend %box_shadow_1;
        top: 20%;
        position: absolute;
        display: grid;
        grid-template: {
            columns: 304px auto;
            areas: "colm1 colm2";
        }
        @include brp($b6) {
            width: 448px;
            grid-template: {
                columns: auto;
                areas: "colm2";
            }
            .colm1 {
                display: none;
            }
        }
        @include brp($b7) {
            width: 348px;
        }
        @include brp($b8) {
            box-shadow: none;
        }
        .colm1 {
            background-color: $c3;
            @include border-radius(22px 0px 0px 22px);
        }
        .colm2 {
            // background-color: tomato;
            .user {
                @extend %flex_1;
                img {
                    @include wh(118px);
                    margin-top: 50px;
                    margin-bottom: 22px;
                }
            }
            .container_login_form {
                @extend %flex_1;
                .login_form {
                    display: grid;
                    grid-template: {
                        columns: 300px;
                    }
                    input {
                        background-color: $c6;
                        caret-color: $c3;
                        border: none;
                        margin: 8px 0;
                        padding-left: 19px;
                        &:focus {
                            border-color: $c3;
                            border-style: solid;
                            border-width: thin;
                        }
                        @include wh(94%, 38px);
                        @include border-radius(22px);
                        @include placeholder {
                            color: $c1;
                            opacity: 0.6;
                        }
                    }
                    .footer_login {
                        @extend %flex_1;
                        button {
                            @include wh(220px, 38px);
                            @include border-radius(22px);
                            margin: 8px 0;
                            color: #f3f2f2;
                            background-color: $c4;
                            border-color: $c3;
                            border-width: 1px;
                            &:disabled {
                                background-color: $c5;
                                &:hover {
                                    background-color: $c5;
                                }
                            }
                            &:hover {
                                background-color: $c3;
                            }
                        }
                    }
                }
            }
        }
    }
}