@import "./../../../assets/sass/instances";
.container_layout {
    display: grid;
    grid-template: {
        columns: auto;
    }
    grid-auto-rows: minmax(62px, auto);
    .toolbar {
        background-color: $c3;
        grid-column: 1;
        grid-row: 1;
        padding-left: 10px;
        padding-right: 10px;
        @include flex;
        @include align-items(center);
        button {
            color: $c6;
        }
        .center_toolbar {
            margin: 0 auto;
        }
        .perfil {
            height: 38%;
            display: grid;
            grid-template-columns: 33px auto;
            grid-template-rows: minmax(18px, auto);
            color: $c1;
            .text {
                @extend %flex_1;
            }
        }
    }
    .container_sidenav {
        grid-column: 1;
        grid-row: 2;
        @include flex;
        height: 813px;
        .sidenav {
            border-right-width: 2px;
            border-style: solid;
            border-color: $c8;
            @include wh(126px);
            @include transition(width 0.5s linear);
            &.display_none {
                width: 38px;
            }
            li {
                @include flex;
                height: 46px;
                &:hover {
                    background-color: $c8;
                    color: $c6;
                }
                .icon {
                    @include wh(51px);
                    @extend %flex_1;
                }
                .text {
                    @extend %flex_1;
                    @include wh(100%);
                    border-width: 0px;
                    &:focus {
                        border-width: 0px;
                        border-style: none;
                    }
                    &.display_none {
                        display: none;
                    }
                }
            }
        }
        .container_data {
            @include wh(100%);
        }
        @include brph($b6) {
            height: 633px;
            @include box-shadow(none);
        }
    }
    .footer {
        background-color: $c3;
        color: $c6;
        grid-column: 1;
        grid-row: 3;
        @extend %flex_1;
    }
}