//-----------------------------------
//Silent Class
//-----------------------------------
%flex_1 {
    @include flex;
    @include align-items(center);
    @include justify-content(center);
}

%box_shadow_1 {
    @include box-shadow(0px 0px 19px 2px rgba(0, 0, 0, 0.75));
}

%scroll_1 {
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 8px;
        -webkit-appearance: none;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        height: 67px;
        background-color: $c6;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}

%input_1 {
    input {
        background-color: $c6;
        caret-color: $c3;
        border: none;
        padding-left: 19px;
        @include wh(238px, 38px);
        @include border-radius(22px);
        @include placeholder {
            color: $c9;
            opacity: 0.6;
        }
        &:disabled {
            font-weight: bold;
        }
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
}

%autocomplete_1 {
    .autocomplete_select {
        background-color: $c1;
        color: $c3;
        position: absolute;
        margin-left: 15px;
        min-height: 0px;
        max-height: 124px; 
        min-width: 226px;
        max-width: auto;
        @include border-radius(0 0 5px 5px);
        @extend %scroll_1;
        z-index: 999;
        .selection {
            .options {
                height: 30px;
                @extend %flex_1;
                justify-content: flex-start;
                .text {
                    margin-left: 8px;
                }
                &.active,
                &:hover {
                    background-color: $c6;
                }
            }
        }
    }
}