//-----------------------------------
//Variables
//-----------------------------------
// Colors
$c0: transparent;
$c1: #FFF;
$c2: #000;
$c3: #4682B4;
$c4: #6792B6;
$c5: #6A88A0;
$c6: #C4DCF0;
$c7: #6792B6;
$c8: #2978B8;
$c9: #166FB8;
$c10: #9ECFF8;
$c11: #b8bbbd;
$c12: #12558b;
//Breakpoints
$b1: 1920;
$b2: 1366; // Tamaño diseño desktop
$b3: 1280;
$b4: 1024;
$b5: 980; // BRP para cambio a movil tablet
$b6: 768;
$b7: 640;
$b8: 480; //Tamaño de diseño movil
$b9: 320;